<li>

    {{#unless devoured}}
    <button class="burger-btn" data-id="{{id}}" data-devoured="{{devoured}}">{{burger_name}}</button>
    {{/unless}}
    {{#if devoured}}
    <button class="burger-btn" data-id="{{id}}" data-devoured="{{devoured}}">{{burger_name}}</button>
    {{/if}}
</li>